#main-container {
    padding: 20px;
    background-color: rgba(212, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(20, minmax(0,1fr));
    grid-template-rows: repeat(20, minmax(0,1fr));
    align-items: center;
    justify-content: space-around;
    row-gap: 0;
    column-gap: 0;
}

#main-container div {
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}