#main-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(20, minmax(0,1fr));
    grid-template-rows: repeat(20, minmax(0,1fr));
}

#main-container div {
    aspect-ratio: 1; /* Makes each div within the grid square*/
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

#main-container .filling {
    background-color: rgb(40, 40, 40)
}
#main-container .filled {
    background-color: rgb(96, 96, 96);
}
